__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# PyBuilder
target/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/